@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<div class="row m-0">
    <div class="col-12 p-0">
        <div class="login-card">
            <div>
                <div><a class="logo" ><img class="img-fluid for-light" src="~/assets/images/logo/konekt.png" alt="looginpage"><img class="img-fluid for-dark" src="~/assets/images/logo/logo_dark.png" alt="looginpage"></a></div>
                <div class="login-main">
                    <form class="theme-form needs-validation" id="form-change" novalidate>
                        <h4>Change Password</h4>
                        <p>Enter your previous & new password to update your password  </p>
                        <div class="form-group">
                            <label class="col-form-label" for="old_pass">Previous Password</label>
                            <input class="form-control" id="old_pass" name="old_pass" type="text" required placeholder="Enter previous password">
                            
                            <div class="invalid-feedback">Required</div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="new_pass">New Password</label>
                            <div class="form-input position-relative">
                                <input class="form-control" id="new_pass" name="new_pass" type="password" maxlength="20" required placeholder="Enter new password">
                                <div class="show-hide"><span class="show"></span></div>
                                <div class="invalid-feedback">Required</div>
                            </div>
                        </div>
                        <div class="form-group mb-0">
                            <div class="text-end mt-3">
                                <button class="btn btn-primary btn-block w-100" type="submit">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Script{
<script src="~/assets/js/sweet-alert/sweet.init.js"></script>
<script src="~/assets/js/jquery-3.6.0.min.js"></script>
<script src="~/assets/js/form-validation-custom.js"></script>

<script>
$(document).ready(function () {
    // Toggle password visibility when the show-hide div is clicked
    $(".show-hide").on("click", function () {
        var passwordField = $("#new_pass");

        // Toggle the type attribute
        if (passwordField.attr("type") === "password") {
            passwordField.attr("type", "text");
        } else {
            passwordField.attr("type", "password");
        }

        // Toggle the class for styling (optional)
        $(this).toggleClass("password-shown");
    });

});

$('#form-change').submit(function (e) {
e.preventDefault();
var reportValidity = $('#form-change')[0].reportValidity();

    if(reportValidity){
        $.ajax({
            url: "@Url.Action("SaveChangedPass", "Dashboard")",
            type: "POST",
            data: {
                id: @ViewBag.UserId,
                oldpass: $("#old_pass").val(),
                newpass: $("#new_pass").val()
            },
            cache: false,
            success: function (respon) {
                if (respon == 1) {
                    Swal.fire({
                        title: 'Berhasil Mengubah Password!',
                        timer: 3000,
                        icon: "success",
                        showConfirmButton: false
                    }).then(function () {
                        // Redirect to Dashboard
                        window.location.href = "@Url.Action("Index", "Dashboard")";
                    });
                }
                else if (respon == 2) {
                    Swal.fire({
                        title: 'Password Sebelumnya SALAH!',
                        timer: 3000,
                        icon: "success",
                        showConfirmButton: false,
                        icon: "error",
                    });
                }
            },
            error: function (error) {
                Swal.fire({
                    title: 'Data gagal diproses!',
                    text: 'Error: ' + JSON.stringify(error),
                    buttons: false,
                    timer: 3000,
                    icon: "error",
                });
            }
        });
    }
});
</script>

}